*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main {
    display: block;
}

body {
    line-height: 1.42857143;
    font-family: $lato;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

b, strong {
    font-weight: 700;
}

p, ul {
    font-size: 17px;
    line-height: 34px;

    @media (max-width: $break14) {
        font-size: 18px;
        line-height: 28px;
    }
}

p {
    margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $baloo-thambi;
    font-weight: 500;
    line-height: 1;
}

h1 {
    font-size: 75px;
    line-height: 63px;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: $break9) {
        font-size: 42px;
        line-height: 42px;
    }

    @media (max-width: $break14) {
        font-size: 2.998em;
    }

    @media (max-width: $break22) {
        font-size: 22px;
        line-height: 24px;
    }
}

h2 {
    color: $color5;
    font-size: 60px;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: $break9) {
        font-size: 34px;
    }

    @media (max-width: $break22) {
        font-size: 28px;
    }
}

h3 {
    font-size: 38px;
    letter-spacing: -0.2px;
    line-height: 1em;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;

    @media (max-width: $break21) {
        font-size: 33px;
    }

    @media (max-width: $break27) {
        font-size: 30px;
    }
}

h4 {
    margin-bottom: 20px;
    font-size: 2.3em;
    margin-top: 20px;

    @media (max-width: $break9) {
        font-size: 26px;
    }

    @media (max-width: $break22) {
        font-size: 24px;
    }
}

h5 {
    font-size: 1.6em;
    margin: 20px 0;
    letter-spacing: -0.4px;

    @media (max-width: $break9) {
        font-size: 22px;
    }

    @media (max-width: $break22) {
        font-size: 22px;
    }
}

h6 {
    letter-spacing: -0.4px;
    font-size: 1.114em;
    line-height: 1.214em;

    @media (max-width: $break9) {
        font-size: 20px;
    }

    @media (max-width: $break22) {
        font-size: 18px;
    }
}

svg:not(:root) {
    overflow: hidden;
}

a {
    text-decoration: none;
    transition: color .2s ease-in-out;
}

button {
    transition: color .2s ease-in-out;
}

.text-center {
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 $fontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0);
}

.fa-star:before {
    content: "\f005";
}

.fa-user:before {
    content: "\f007";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-comment:before {
    content: "\f075";
}

.fa-star-half:before {
    content: "\f089";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-instagram:before {
    content: "\f16d";
}

i {
    transition: all 0.2s ease-in-out;
}

img {
    height: auto !important;
}

section {
    background: $white;
    padding: 100px 0;

    @media (max-width: $break22) {
        padding: 40px 0;
    }

    @media (max-width: $break27) {
        padding: 30px 0;
    }
}

div.container {
    width: $break1170;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
    }

    @media (max-width: $break4) {
        width: 96%;
    }

    @media (max-width: $break12) {
        width: 100%;
    }
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.section-heading {
    margin-bottom: 100px;
    text-align: center;

    @media (max-width: $break9) {
        margin-bottom: 30px;
    }

    @media (max-width: $break14) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (max-width: $break22) {
        margin-bottom: 2rem;
    }

    @media (max-width: $break27) {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 30px;

        h3, h4 {
            margin-bottom: 15px;
        }
    }

    h2:after,
    h2:before,
    h3:after,
    h3:before,
    h4:after,
    h4:before {
        background-color: $color18;
        content: '';
        display: inline-block;
        height: 2px;
        margin: 20px;
        opacity: 0.2;
        position: relative;
        vertical-align: middle;
        width: 97px;
    }

    h4 {
        margin: 0;
    }

    h2, h3, h4 {
        color: $color2;

        @media (max-width: $break12) {
            margin-bottom: 5px;

            &:after,
            &:before {
                background-color: unset;
                display: none;
            }
        }
    }
}

.bg-pattern {
    background-position: 0 0,100% 0;
    background-image: url(../img/cartoonbones1.png), url(../img/cartoonbones2.png);
    background-repeat: no-repeat, no-repeat;

    @media (max-width: $break10) {
        background-image: none;
    }
}

.backDark {
    background-color: $black;
    color: $white;
}

.backWhite {
    background-color: $white;
    color: $black;
}

.bgWhite {
    background-color: $white;
}

.bgYellow {
    background-color: $color1;
}

.back540 {
    margin: 0 auto;
    max-width: $break540;
    padding: 0 10px;
    text-align: center;
}

.back768 {
    margin: 0 auto;
    max-width: $break14;
    padding: 0 10px;
    text-align: center;

    @media (max-width: $break14) {
        max-width: unset;
        padding: 0;
    }
}

.back992 {
    margin: 0 auto;
    max-width: $break962;
    padding: 0 15px;
    text-align: center;
}

.back1080 {
    margin: 0 auto;
    max-width: $break6;
    padding: 0 10px;
    text-align: center;
    position: relative;
}

.boxShadowVideo {
    box-shadow: 0 0 0 6px $color22, 0 0 0 12px $color18, 0 0 0 18px $color3;
    box-shadow: 0 54px 55px rgba(0, 0, 0, .25), 0 -12px 30px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12), 0 12px 13px rgba(0, 0, 0, .17), 0 -3px 5px rgba(0, 0, 0, .9);
    position: relative;
}

.img-rounded {
    border-bottom: 20px solid;
    border-radius: 40px;
    border-color: $color2;
}

.hide480 {
    @media (max-width: $break22) {
        display: none;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.padding0 {
    padding: 0;
}

.blockMobile {
    @media (max-width: $break21) {
        display: block;
    }
}

/* Inicio Nav Timer CSS */
body #first-scroll.noTimerNoNav {
    padding-top: 50px;

    @media (max-width: $break14) {
        padding-top: 50px;
    }
}

body .hasTimerNav{
    padding: 90px 0 0 0;

    @media (max-width: $break14) {
        padding: 76px 0 0 0;
    }
}

body nav.hasTimerNavInNav {
    top: 103px;
}

body nav.hasTimerNavInNav2 {
    top: 0;
}

body nav.hasTimerNavInNav2{
    padding: 100px 0 40px 0;

    @media (max-width: $break14) {
        padding: 82px 0 22px 0;
    }
}

/* Fin Nav Timer CSS */
