/** Fonts **/
$poppins: Poppins;
$baloo-thambi: Baloo Thambi, sans-serif;
$lato: Lato, sans-serif;
$fontAwesome: FontAwesome;
$flaticon: flaticon;

/** Colors **/
$white: #ffffff;
$black: #000000;
$color1: #ffefd5;
$color2: #108896;
$color3: #ef5030;
$color4: #ddd;
$color5: #282828;
$color6: #333;
$color7: #ccc;
$color8: #e6e6e6;
$color9: #8c8c8c;
$color10: #adadad;
$color11: #d4d4d4;
$color12: #dff0d8;
$color13: #d6e9c6;
$color14: #3c763d;
$color15: #fcf8e3;
$color16: #faebcc;
$color17: #8a6d3b;
$color18: #f19f1f;
$color19: #25d366;
$color20: #f5f3ee;
$color21: #183059;
$color22: #555bff;
$color23: #e08e1f;
$color24: #0097a6;
$color25: #ebecf1;
$color26: #d4bebe;
$color27: #cecece;
$color28: #dfe2e6;
$color29: #5f5959;
$color30: #989797;
$color31: #292929;

/** Layouts & Breakpoints **/
$break1: 1360px;    
$break2: 1300px;
$break3: 1200px;
$break4: 1199px;
$break1170: 1170px;
$break5: 1150px;
$break6: 1100px;
$break7: 1060px;
$break8: 1024px;
$break9: 992px;
$break10: 991px;
$break11: 990px;
$break970: 970px;
$break962: 962px;
$break950: 950px;
$break12: 920px;
$break13: 850px;
$break14: 768px;
$break15: 767px;
$break16: 720px;
$break17: 670px;
$break18: 600px;
$break19: 599px;
$break540: 540px;
$break20: 550px;
$break21: 520px;
$break22: 480px;
$break23: 450px;
$break24: 440px;
$break25: 420px;
$break26: 400px;
$break27: 380px;
$break28: 360px;
$break29: 340px;

