section#beneficios {
    padding: 0;
    color: $black;

    @media (max-width: $break14) {
        padding: 0 15px;
    }

    @media (max-width: $break27) {
        padding: 0 10px;
    }

    > div {

        > div {
            margin: 40px auto;
            max-width: 694px;

            @media (max-width: $break16) {
                align-items: start;
                display: flex;
                justify-content: center;
                margin: 0 auto 20px;
                max-width: unset;
            }

            @media (max-width: $break22) {
                justify-content: left;
            }

            figure {
                display: inline-block;
                padding-top: 13px;
                vertical-align: top;

                @media (max-width: $break16) {
                    display: block;
                    padding-top: 10px;
                }

                img {
                    width: 48px;

                    @media (max-width: $break16) {
                        width: 35px;
                    }
                }
            }

            > div {
                display: inline-block;
                padding-left: 15px;
                text-align: left;
                width: calc(100% - 101px);

                @media (max-width: $break16) {
                    padding-left: 10px;
                    width: auto;
                }

                h3 {
                    color: $black;
                    font-size: 25px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 28px;
                    margin-bottom: 6px;
                    margin-top: 5px;

                    @media (max-width: $break27) {
                        font-size: 24px;
                        line-height: 26px;
                    }
                }

                p {
                    color: $black;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 30px;
                    padding: 0;
                    text-align: left;

                    @media (max-width: $break14) {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    @media (max-width: $break22) {
                        display: none;
                    }
                }
            }
        }
    }
}
