section#contenido {
    padding: 60px 0 30px;

    @media (max-width: $break9) {
        padding: 60px 0 30px;
    }

    @media (max-width: $break14) {
        padding: 45px 0 30px;
    }

    @media (max-width: $break27) {
        padding: 30px 0 15px;
    }

    > div {

        > div:nth-of-type(1) {
            margin-bottom: 30px;

            @media (max-width: $break9) {
                margin-bottom: 30px;
            }

            @media (max-width: $break14) {
                margin-bottom: 20px;
            }

            h2 {
                font-size: 45px;

                @media (max-width: $break9) {
                    font-size: 40px;
                }

                @media (max-width: $break26) {
                    font-size: 32px;
                }
            }

            > div[itemprop="aggregateRating"] {
                > div:nth-of-type(1) {
                    align-items: baseline;
                    display: flex;
                    justify-content: center;

                    > div:nth-of-type(1) {
                        color: $color18;
                        font-size: 18px;
                        margin-right: 10px;

                        .svg-inline--fa {
                            height: 1em;
                            padding-top: 4px;
                        }

                        > span {
                            padding-bottom: 0;
                            position: relative;

                            .star-left {
                                color: $color18;
                                left: 50%;
                                position: absolute;
                                top: 45%;
                                -webkit-transform: translate(-50%, -55%);
                                -moz-transform: translate(-50%, -55%);
                                -ms-transform: translate(-50%, -55%);
                                transform: translate(-50%, -55%);
                            }

                            .star-right {
                                color: $color28;
                                -webkit-transform: rotateY(180deg);
                                -moz-transform: rotateY(180deg);
                                transform: rotateY(180deg);
                            }
                        }
                    }

                    > p {
                        border-radius: 10px;
                        color: $white;
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        transition: all .2s ease-in-out;
                        font-weight: 700;
                        height: auto;
                        line-height: unset;
                        margin: 0;
                        padding: 1px 20px;
                        background-color: $color3;
                    }
                }

                > div:nth-of-type(2) {
                    p {
                        display: inline-block;
                        font-size: 11px;
                        font-weight: 900;
                        letter-spacing: .5px;
                        margin-right: 15px;
                        text-transform: uppercase;
                        margin-bottom: 0;

                        i {
                            color: $color3;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        > div:nth-of-type(2) {

            @media (max-width: $break9) {
                margin: 0 auto;
                max-width: unset;
                padding: 0;
                width: 100%;
            }

            > div {
                text-align: left;

                h3 {
                    margin-bottom: 15px;

                    button {
                        font-size: 18px;
                        text-align: left;
                        width: 100%;
                        border: 0;
                        border-radius: 15px;
                        color: $white;
                        display: block;
                        font-family: $baloo-thambi;
                        letter-spacing: .5px;
                        text-transform: none;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        padding: 10px 40px 10px 10px;
                        position: relative;
                        background-color: $color2;
                        text-transform: uppercase;
                        line-height: 20px;

                        @media (max-width: $break9) {
                            padding: 10px 40px 10px 10px;
                        }

                        &:hover {
                            background-color: $color3;
                        }

                        &:after {
                            content: "\f077";
                            float: right;
                            font-family: FontAwesome;
                            font-size: 18px;
                            line-height: 20px;
                            transform: rotate(180deg);
                            bottom: 0;
                            display: block;
                            height: 20px;
                            margin: auto;
                            position: absolute;
                            right: 10px;
                            top: 0;
                            width: 20px;
                        }

                        span {
                            font-size: 16px;
                            text-transform: capitalize;
                        }
                    }
                }

                ul {
                    padding: 0 15px 15px 15px;
                    display: none;

                    @media (max-width: $break28) {
                        padding: 0 10px 5px 10px;
                    }

                    li {
                        font-size: 18px;
                        line-height: 26px;
                        padding: 5px 0;

                        @media (max-width: $break21) {
                            padding: 3px 0;
                        }

                        &:before {
                            content: "\f0da";
                            font-family: fontawesome;
                            padding-right: 7px;
                        }

                        span {
                            color: $color2;
                            font-weight: 700;
                        }

                        &.noitem {
                            &:before {
                                content: "";
                                display: none;
                            }
                        }
                    }
                }

                &.active {
                    h3 {

                        button {
                            background-color: $color3;

                            &:after {
                                content: "\f077";
                                transform: rotate(0deg);
                            }
                        }
                    }

                    ul {
                        display: block;
                    }
                }
            }

            &.two-cols {

                > div {

                    h3 {
                        display: none;

                        @media (max-width: $break9) {
                            display: block;
                        }

                        button {

                            br {
                                display: none;

                                @media (max-width: $break28) {
                                    display: block;
                                }
                            }
                        }
                    }

                    ul {
                        display: grid;
                        grid-template-columns: auto auto;
                        column-gap: 40px;

                        @media (max-width: $break9) {
                            display: block;
                            grid-template-columns: unset;
                            column-gap: unset;
                        }

                        li {
                        }
                    }
                }
            }
        }
    }
}
