section#muestras-videos {
    padding-bottom: 60px;
    padding-top: 0;

    @media (max-width: $break9) {
        padding-bottom: 30px;
    }


    > div:nth-of-type(1) {
        margin-bottom: 50px;

        h2 {
            font-size: 36px;
            text-transform: none;
            margin: 0;

            @media (max-width: $break26) {
                font-size: 30px;
            }
        }

        p {
            @media (max-width: $break540) {
                line-height: 24px;
            }
        }
    }

    #muestras-videos-carousel {
        padding: 0;

        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    lite-vimeo {
                        padding-bottom: 175%;
                    }
                }
            }
        }

        .owl-controls {
            .owl-nav {
            }

            .owl-dots {
                margin-top: 30px;
                text-align: center;

                .owl-dot {
                    display: inline-block;

                    span {
                        background-color: $color3;
                        border: 2px solid $color27;
                        border-radius: 50%;
                        color: $color6;
                        cursor: pointer;
                        display: inline-block;
                        height: 10px;
                        margin: 0 5px;
                        position: relative;
                        vertical-align: top;
                        width: 10px;

                        &:before {
                            content: "";
                            background-color: $color3;
                            border-radius: 50%;
                            height: 13px;
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            transition: transform .3s;
                            width: 13px;
                        }
                    }

                    &.active {
                        span {
                            &:before {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
