a.skip-to-content-link {
    left: calc(50% - 125px);
    z-index: 0;
    padding: 20px;
    position: absolute;
    transition: transform .3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $white;
    border: 1px solid rgba(216, 217, 226, .5);
    box-shadow: 10px 20px 40px 0 rgba(36, 35, 40, .1);
    color: $black;
    font-weight: bold;
    letter-spacing: 0.4px;
    transform: translateY(-100%);

    @media (max-width: $break22) {
        left: calc(50% - 95px);
        padding: 16px;
        font-size: 12px;
    }

    &:focus {
        transform: translateY(0%);
        z-index: 10000;
    }
}
