section#wabuton {
    padding: 0;
    background: transparent;
    bottom: 15px;
    position: fixed;
    right: 20px;
    z-index: 1000000;

    @media (max-width: $break14) {
        bottom: 10px;
        right: 10px;
    }

    a {
        background-color: $color19;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        display: block;

        @media (max-width: $break22) {
            height: 60px;
            width: 60px;
        }
    }
}
